@model IEnumerable<SIPSProyecto.Models.Incidencia>

@{
    ViewBag.Title = "Index";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/indexAdminStyles.css">
</head>

<h2>Incidencias del Sistema</h2>
<hr class="divider">
<table class="student-table">
    <tr>
        <th>
            Administrador
        </th>
        <th>
            Descripcion
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inc_txDescripcion)
            </td>
            <td>
                @Html.ActionLink("Resuelto", "Delete", new { id = item.inc_iCodigo }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>

