body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #F4D7D1 !important;
}

.sidebar {
    background-image: url('../fonts/imagenes/img_login.jpg');
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 520px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 50px;
}

    .sidebar h2 {
        color: white;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        padding-right: 20px; /* Ajusta el espacio para la imagen */
        font-size: 40px;
        transform: translateY(-50px);
        margin-top:5%;
    }

        .sidebar h2::after {
            content: '';
            display: inline-block;
            background-image: url('../fonts/imagenes/Logo_UNMSM.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 50px; /* Tamaño más grande para la imagen */
            height: 50px;
            position: absolute;
            right: 130px; /* Desplaza la imagen fuera del rango de la frase */
            top: 50%;
            transform: translateY(-50%);
        }

.log {
    font: menu;
    font-size: 160%;
    text-align: right;
    margin: -20px;
    padding-top: 60px;
    padding-right: 90px;
}

    .log p {
        color: #7E7E7E;
        font-size: 80%;
        margin-top: 2%;
    }

.user_card {
    position: relative;
    left: 400px;  /*Ajusta este valor para mover más a la derecha */
    width: 35%;
    height:52%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 50px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 50px;
}

.login_btn {
    width: 100%;
    background: #c0392b !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}