@model IEnumerable<SIPSProyecto.Models.Estudiante>


@{
    ViewBag.Title = "Index";
}
<head>
    <link href="~/Content/indexAdminStyles.css" rel="stylesheet" />
</head>
<h2>Mantener Informacion del alumno</h2>

<table class="student-table">
    <tr>
        <th>
            Codigo
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
    </tr>

@foreach (var item in Model) {
<tr onclick="redirectTo('@Url.Action("Details", "Estudiante", new { id = item.esc_iCodigo })')">
    <td>
        @Html.DisplayFor(modelItem => item.est_vcCodigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
</tr>
}

</table>
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>